<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer du contenu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Options de création de contenu</h1>
    <form action="{{ url_for('create_content') }}" method="post">
        <label for="tweet_type">Type de tweet:</label>
        <select name="tweet_type" id="tweet_type">
            <option value="1">Un seul tweet</option>
            <option value="2">Plusieurs tweets (thread)</option>
        </select>

        <br><br>
        <label for="include_emojis">Inclure des emojis:</label>
        <input type="radio" name="include_emojis" value="yes"> Oui
        <input type="radio" name="include_emojis" value="no"> Non

        <br><br>
        <label for="include_image">Inclure l'image:</label>
        <input type="radio" name="include_image" value="yes"> Oui
        <input type="radio" name="include_image" value="no"> Non

        <br><br>
        <label for="sign_tweet">Signer le tweet:</label>
        <input type="radio" name="sign_tweet" value="yes"> Oui
        <input type="radio" name="sign_tweet" value="no"> Non

        <br><br>
        <button type="submit">Valider</button>
    </form>
</body>
</html>
